<div class="movie-actions">
<% if movie.available_showtimes.present? %>
<%= link_to "Book Now", new_movie_booking_path(movie) %> |
<% end %>
<% if movie.showtimes.present? && can?(:edit, movie.showtimes.first) %>
  <%= link_to "Showtimes", movie_showtimes_path(movie) %> |
<% end %>
  <%= watchlist_action(current_user, movie) %>
<% if can? :edit, movie %>
  <%= link_to "Edit this movie", edit_movie_path(movie), class: "btn btn-xs btn-primary" %>
  <%= link_to "Delete this movie", movie_path(movie), method: :delete,
      data: { confirm: "Are you sure you want to delete the movie?"},
     class: "btn btn-xs btn-danger" %>

  <% if action_name == "edit" %>
    <%= link_to 'View all movies', movies_path, class: "btn btn-xs btn-success" %>
  <% end %>
<% end %>
</div>
