<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div>
    <%= form_for(@movie, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :name, placeholder: "Name of movie"%>

        <%= f.label :description %>
        <%= f.text_area :description, rows: 7, placeholder: "Description of movie" %>

        <%= f.label :actors %>
        <%= f.text_field :actors, placeholder: "Name(s) of actor(s)" %>
  
        <%= f.label :director %>
        <%= f.text_field :director, placeholder: "Name(s) of director(s)" %>

        <%= f.label :language %>
        <%= f.text_field :language, placeholder: "Language of movie"%>

        <%= f.label :duration %>
        <%= f.number_field :duration, step: :any, placeholder: "Duration of movie" %>

        <%= f.label :release_date %>
        <%= f.date_select :release_date, placeholder: "Release Date of Movie" %>
      </div>
      
      </br>
      <div>
        <%= f.submit class: 'btn btn-primary btn-lg' %>
      </div></br>

    <% end %>

    <div>
       <%= link_to "Return to movies listing", movies_path %>
    </div>

  </div>
</div>
<% end %>
