<h1 align="center">Movies</h1>
  <% if can? :create, Movie.new %>
    <%= link_to "New Movie", new_movie_path%>
  <% end %>
<div align="center">
  <%= will_paginate %>
</div>
<% @movies.each do |movie| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="movie-name">
            <%= link_to movie.name, movie_path(movie) %>
        </div>
        <div class="movie-body">
        <% if movie.image.present? %>
        <p>
          <%= image_tag movie.image.url(:thumb) %>
        </p>
        <% end %>
          <%= truncate(movie.description, length: 100) %>
          </br> Movie length: <%= movie.duration %> mins
          <div class="movie-meta-details">
            <small> Created by: <%= movie.user.username if movie.user %>,
                  <%= time_ago_in_words(movie.created_at)%> ago,
                  last updated: <%= time_ago_in_words(movie.updated_at) %> ago </small>
          </div>
        </div>
        <%= render "actions", movie: movie %>
      </div>
    </div>
  </div>
<% end %>
<div align="center">
  <%= will_paginate %>
</div>
