<h1 align="center">Movies</h1>
  <% if can? :create, Movie.new %>
    <%= link_to "New Movie", new_movie_path%>
  <% end %>
<div align="center">
  <%= will_paginate %>
</div>
<% @movies.each do |movie| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="movie-name">
            <%= link_to movie.name, movie_path(movie) %> <%= display_stars(movie.average_rating) %>
        </div>
        <div class="movie-body">
        <% if movie.image.present? %>
        <p>
          <%= image_tag movie.image.url(:thumb) %>
        </p>
        <% end %>
          <%= truncate(movie.description, length: 100) %>
          </br> Duration: <%= movie.duration %> mins
        </div>
        <%= render "actions", movie: movie %>
      </div>
    </div>
  </div>
<% end %>
<div align="center">
  <%= will_paginate %>
</div>
