<h2 align="center"><%= @movie.name %></h2>
<div class="well col-xs-8 col-xs-offset-2">

  <p>
    <strong>Description:</strong>
    <%= (@movie.description) %>
  </p>

  <p>
    <strong>Actors:</strong>
    <%= @movie.actors %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= @movie.director %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= @movie.language %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @movie.duration %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= @movie.release_date %>
  </p>

  <%= render "actions", movie: @movie %>
</div>
