<h2 align="center"><%= @movie.name %></h2>
<div class="well col-xs-8 col-xs-offset-2">

  <p>
    <strong>Description:</strong>
    <%= (@movie.description) %>
  </p>

  <p>
    <strong>Actors:</strong>
    <%= @movie.actors %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= @movie.director %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= @movie.language %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @movie.duration %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= @movie.release_date %>
  </p>

  <h6>Showtimes</h6>
  <ul>
    <% @movie.showtimes.each do |showtime| %>
      <li>
        <%= showtime.form_dropdown %>
      </li>
    <% end %>
  </ul>

  <%= render "actions", movie: @movie %>
</div>
