<h3> Confirm Booking </h3>

<h4>Movie</h4>

<p>Name: <%= @booking.movie.name %></p>

<p>Showtime: <%= @booking.showtime.form_dropdown %></p>

<h4>Tickets</h4>

<% @booking.tickets.each do |ticket| %>

<p> Type: <%= ticket.ticket_type.name %></p>

<p> Seat Number: <%= ticket.seat_num %></p>

<% end %>

<h4> Payment </h4>

<% @booking.tickets_brkdwn.each do |ticket_type, count| %>
  <p>
    <strong><%= ticket_type.name %></strong>
    <%= count %>
    <%= number_to_currency(count * ticket_type.price, unit:"£") %>
  </p>
<% end %>

<p> Redeemable Points: <%= number_to_currency([@user.applicable_discount, @booking.total_price].min, unit: "£") %></p>
<p> Total: <%= number_to_currency(@booking.total_price, unit:"£") %> </p>

<button class="payment-btn" data-bookingid="<%= @booking.id %>" data-redeempoints="false"> Pay Now </button>
<% if total_payable(@booking.total_price, @user.applicable_discount).zero? %>
  <%= link_to 'Redeem Points', pay_with_points_movie_booking_path(@booking.movie, @booking) %>
<% elsif @user.applicable_discount > 0 %>
  <button class="payment-btn" data-bookingid="<%= @booking.id %>" data-redeempoints="true">Redeem Points</button>
<% end %>
