<%= render 'shared/errors', obj: user %> 

<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(user, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :role, 'User role' %>
        </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2">

        <% Role.all.each do |role| %>
          <%= f.label role do %>
            <%= check_box_tag 'user[_roles][]', role.id, user.has_role?(role.name) %>
            <%= role.name %>
          <% end %>
        <% end %>
        </div>
      </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <%= f.label :points, 'User points' %>   
      </div>
      <div class="col-sm-5">
        <%= f.number_field :points, class: "form-control", placeholder: "Add points" %>
      </div>
    </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Update account", class: 'btn btn-primary btn-lg' %>
            </div>
      </div>

<% end %>
  <%= link_to "Delete this user", user_path(user), method: :delete,
    data: { confirm: "Are you sure you want to delete the user?"},
    class: "btn btn-xs btn-danger" %>


    <div class="col-xs-2 col-xs-offset-2">
      [ <%= link_to "Return to all users", users_path %> ]
    </div>
</div>

</div>
