<%= form_with(model: [movie, showtime], local: true) do |form| %>
  <% if showtime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(showtime.errors.count, "error") %> prohibited this showtime from being saved:</h2>

      <ul>
      <% showtime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :showtime_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time, id: :showtime_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
